.app{
  padding: 0;
  margin: 0 auto;
  border: none;
}

.mainContent{
  overflow-y: auto;
  padding: 2rem;
}

.restrictWidth{
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}