.app{
  padding: 0;
  margin: 0 auto;
  border: none;
  min-height: 100vh;
  background-color: var(--bg);
}

.mainContent{
  padding: 3rem 1.5rem 5rem;
}

.restrictWidth{
  max-width: 950px;
  margin-left:auto;
  margin-right: auto;
}

@media (max-width: 720px) {
  .mainContent {
    padding: 2rem 1.25rem 4rem;
  }
}